select.form-control:focus {
    color: #000;
}
#showphonenumber{display:none;}

#password_msg {
display:none;
}
#password_msg {
position: absolute;
bottom: -145px;
bottom: -115px\9;
right: 155px;
width: 250px;
padding: 15px;
background: #fefefe;
font-size: .875em;
border-radius: 5px;
box-shadow: 0 1px 3px #ccc;
border: 1px solid #ddd;
z-index: 9;
}
#password_msg::before {
content: "\25B2";
position:absolute;
top:-12px;
left:45%;
font-size:14px;
line-height:14px;
color:#ddd;
text-shadow:none;
display:block;
}
#password_msg p {
margin-bottom: 0;
float: left;
display: inline-flex;
width: 100%;
}
.form-content .valid {
color: green;
}
.form-content .valid:before {
position: relative;
left: -10px;
content: "✔️";
}
.form-content .invalid {
color: red;
}
.form-content .invalid:before {
position: relative;
left: -10px;
content: "✖️";
}
#password_msg p {
margin-bottom: 0;
}
.input .valid {
color: green;
}
.input .valid:before {
position: relative;
left: -10px;
content: "✔️";
}
.input .invalid {
color: red;
}
.input .invalid:before {
position: relative;
left: -10px;
content: "✖️";
}
.alert p{
	color: #610a0a;
}