body{
    font-family: sans-serif;
    font-size: 12px;
    color: #1c2d3a;
}

.flip-bottom {
    text-align: center;
    font-size: 15px;
}

@media screen and (min-width: 1024px) {
    #reader-container {
        width: 100%; 
        height: 90vh;
    }
}
@media screen and (max-width: 890px) {
    #reader-container {
        height: 90vh;
    }
    .flip-bottom p{
        margin-top: 7px;
    }
}
@media screen and (max-width: 569px) {
    #reader-container {
        height: 600px;
    }
}
